@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat&family=Poppins:ital,wght@1,500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: pirulen, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.container {
  text-align: center;
}

.media_buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

@media (min-width: 320px) {
  .timer h1 {
    font-size: 35px;
  }
  .container {
    padding: 10px 15px;
  }
}

@media (min-width: 768px) {
  .timer {
    display: flex;
    gap: 25px;
  }
}
@media (min-width: 1024px) {
  .timer h1 {
    font-size: 85px;
  }
}
