/* header */
.desk-header {
  display: none;
}

.header,
.headerLive {
  font-family: "monolisabook";
  background-color: #000033;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 99;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: normal;
}

.header ul,
.headerLive ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000033;
  /*REMOVE WHEN NAV IS DONE*/
}

.active {
  background-image: url("../images/buttonActive.svg") !important;
}

.activeDesk {
  background-image: url("../images/smallActive.svg") !important;
}

.headerLive ul {
  /*REMOVE WHEN NAV IS DONE*/
}

.headerLive a,
.header a {
  display: grid;
  justify-content: center;
  background-image: url("../images/button.svg");
  height: 70px;
  width: 250px;
  align-items: center;
  margin: 15px 20px;
  color: white;
  text-decoration: none;
}

.span {
  font-size: 20px;
}

.header .logo,
.headerLive .logo {
  display: block;
  float: left;
  padding: 15px 20px;
  width: 55px;
}

/* menu */

.header .menu,
.headerLive .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  display: grid;
  justify-content: center;
}

/* menu icon */

.header .menu-icon,
.headerLive .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  /*REMOVE WHEN NAV IS DONE*/
}

.header .menu-icon .navicon,
.headerLive .menu-icon .navicon {
  background: white;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 22px;
}

.headerLive .menu-icon .navicon {
  background: white;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 22px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after,
.headerLive .menu-icon .navicon:before,
.headerLive .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.headerLive .menu-icon .navicon:before,
.headerLive .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before,
.headerLive .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after,
.headerLive .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn,
.headerLive .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu,
.headerLive .menu-btn:checked~.menu {
  margin-top: 30px;
  max-height: 100vh;
  display: grid;
  justify-content: center;
}

.header .menu-btn:checked~.menu-icon .navicon,
.headerLive .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before,
.headerLive .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after,
.headerLive .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after,
.headerLive .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.headerLive .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 1024px) {

  .headerLive a,
  .header a {
    background-image: url("../images/buttonsmall.svg");
    width: 150px;
    height: 40px;
  }

  .headerLive a:hover,
  .header a:hover {
    background-image: url("../images/buttonsmallHover.svg");
    width: 150px;
    height: 40px;
  }

  .header {
    box-shadow: none;
  }

  .mobile-header {
    display: none;
  }

  .header .logo {
    width: 300px !important;
  }

  .desk-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    background-color: transparent;
  }

  .list-nav {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}