.knops {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    position:absolute;
    z-index: 0;
    top: 60px;
    left: 25%;
   text-align: center;
   top: 100px;
  }
  
  .knops button {
    margin-left: 10px;
    flex: 1;
    border: 1px solid none;
    border-radius: 15px;
  }
  