.infowrapper h1 {
  font-family: "pirulen", sans-serif;
  font-size: 25px;
}
.infowrapper h2 {
  font-family: "monolisabook";
}

.infowrapper {
  background-color: #000033;
  color: white;
}

.infowrapper p {
  font-family: "Helvetica";
}
.info p {
  margin-top: 45px;
  line-height: 1.6;
}

.info {
  text-align: center;
  padding: 15px 20px;
}

p.info_text {
  text-align: left;
}

.infoContainer {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  overflow-y: visible;
  margin: 15px;
}

.infoContainer h2 {
  text-align: center;
  margin-top: 35px;
}

.container_info {
  position: relative;
  background-color: #2d005b;
  border-radius: 5px;
  padding: 15px 20px;
  flex: none;
  width: 60%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container_info img {
  position: absolute;
  background-color: #000033;
  border-radius: 50%;
  padding: 10px;
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
}

.container_info p {
  line-height: 1.6;
}
p.wanneer_span {
  text-align: left;
  color: #ff1199;
  font-family: "monolisabook";
}

.btn_redirect {
  font-family: "monolisabook";
  cursor: pointer;
  font-size: 15px;
  border: none;
  background-color: transparent;
  color: white;
  background-image: url("../images/buttonsmall.svg");
  background-position: center;
  width: 150px;
  height: 40px;
  transition: 0.5s ease-in-out;
}

.btn_container {
  text-align: center;
}

.location,
.opleiding {
  margin-top: 50px;
  font-family: "Helvetica";
}

.location h2,
.opleiding h2 {
  text-align: center;
}

.location ul,
.opleiding ul {
  line-height: 1.6;
  list-style-type: square;
  color: white;
}

.location li,
.opleiding li {
  padding: 5px 15px;
  margin-top: 10px;
}

.linkto {
  color: #00f9ff;
}

.opleiding {
  padding-bottom: 35px;
}

@media (min-width: 768px) {
  .container_info {
    width: 40%;
  }
}
