.infowrapper{
 background-color: #000033;
}


.infowrapper p,
.infowrapper li  {
  font-family: "helveticaregular";
}

.infowrapper h1,
.infowrapper h2,
.infowrapper h3
{
  font-family: "monolisabook";
}
@media (max-width: 767px) {
  .info {
    text-align: left;
    padding: 20px;
    color: #FF1199;
  }

  .info p{
    text-align: left;
    
    color: white;
  }


  .info2 {
    text-align: center;
   z-index: 2;
    padding: 20px;
    color: white
  }
  
  .info2 p {
    text-align: left;
    color: white;
   
  }
 
  .info2 h3 {
    text-align: center;
    color: white;
   font-size: 18px;
  }
  .info2 .btekst {
    text-align: center;
  }

  .info3 {
    text-align: center;
    padding: 20px;
    color: #FF1199;
  }

  .info3 p {
    text-align: left;
    color: white;
  }

  .info3 .btekst {
    text-align: center;
  }

  .info4 {
    text-align: center;
    padding: 20px;
    color: #FF1199;
  }
  .info4 p{
    color: white;
    text-align: left;
  }

  .info4 h3{
    text-align: center;
    padding: 20px;
    color: #FF1199;
    font-size: 18px;
  }

  .info4 .btekst {
    text-align: center;
  }
.info5 h2{
  text-align: center;
  padding: 20px;
}

.info5 p{
  padding: 20px;
  text-align: left;
}



  .any-questions {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
  }

  .any-questions h2 {
    font-size: 24px;
    padding: 20px;
    color: #FF1199;
  }

  .any-questions ul {
    list-style: none;
    padding: 20;
    margin: 20px 0;
    text-align: left;
  }

  .any-questions li {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 20px;
    color: white;
    
  }

}

.info2 {
  background-color: #ff119835;

  color: white;
}
.info5 {
  background-color: #ff119835;

  color: white;
}
.info3 {
  text-align: center;
}
.buttonshowcase{
  font-family: "monolisabook";
cursor: pointer;
font-size: 15px;
border: none;
background-color: transparent;
color: white;
background-image: url("../images/button.svg");
background-position: center;
width: 250px;
height: 70px;
transition: 0.5s ease-in-out;
}
.buttonshowcase:hover {
  background-image: url("../images/buttonHover.svg");
  transition: 0.5s ease-in-out;
  scale: 1.1;
  width: 250px;
}