html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.outerwrapper {
  background-image: url("../images/neon-city-buildings-4k-on-1920x1080.jpg");
  background-position: center;
  color: white;
  min-height: 100% !important;
  font-family: "MonoLisa";
}

.container h1 {
  font-size: 25px;
}
.headerLive {
  background-color: transparent;
  box-shadow: none;
}

.button-tickets {
  font-family: "MonoLisa";
  cursor: pointer;
  font-size: 15px;
  border: none;
  background-color: transparent;
  color: white;
  background-image: url("../images/button.svg");
  background-position: center;
  width: 250px;
  height: 70px;
  transition: 0.5s ease-in-out;
}

.button-tickets:hover {
  background-image: url("../images/buttonHover.svg");
  transition: 0.5s ease-in-out;
  scale: 1.1;
}

.instagram_styling {
  cursor: pointer;
  padding: 5px;
  transition: 0.5s ease-in-out;
}

.instagram_styling:hover {
  scale: 1.03;
  background-image: url("../images/hover.svg");
  transition: 0.5s ease-in-out;
}
.media_buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
  text-align: center;
}

@media (min-width: 1024px) {
  .headerLive ul {
    background-color: transparent;
  }
  .outerwrapper {
    height: auto;
  }
  .headerLive ul li a {
    color: white;
  }

  .headerLive li a {
    padding: 0;
    font-size: 12px;
    letter-spacing: 3px;
  }

  .headerLive .logo {
    width: 300px;
  }
}
