.timetable {
  background-image: url("../images/ipad-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
  font-family: "monolisabook";
}

.timetable-cover {
  background-image: url("../images/Group 784.svg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  /* border: 2px solid rgb(255, 0, 0);    */
  height: 602.28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timetable p {
  color: rgb(255, 138, 255);
}

.timetable-info::-webkit-scrollbar {
  border-radius: 20px;
  border: 2px solid white;
}
.timetable-info::-webkit-scrollbar-thumb {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid white;
}

span.time {
  color: white;
}

.tb-poster {
  display: none;
}

@media (min-width: 800px) {
  .timetable-cover {
    background-image: url("../images/Group 780.svg");
    height: 600.28px;
  }
  .timetable {
    background-image: url("../images/ipad-bg.png");
  }

  .timetable-info {
    margin-top: 6%;
    height: 320px;
    width: 600px;
    overflow-y: scroll;
  }
}

@media (min-width: 1100px) {
  .timetable-cover {
    background-image: url("../images/Group 780.svg");
  }

  .timetable {
    background-image: url("../images/BG-DEKSTOP.png");
  }

  .timetable-info {
  }
}

@media (min-width: 1600px) {
  .timetable-info {
  }
}
